button {
    margin: 3px;
    background:cadetblue;
    color: white;
    border-color: grey;
}

textarea {
    width: 470px;
    height: 200px;
    resize: none;
    /* 크기고정 */
    /*   resize: horizontal; // 가로크기만 조절가능 
    resize: vertical;  세로크기만 조절가능  */
}

li {
    width: 150px;
    margin: 0px;
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
    font-size: 12px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

input {
    height: 25px;
    border-radius: 5px;
    border-color: aqua;
    margin: 5px;
}
.start {
    border-bottom: 1px solid;
    width: 470px;
}